*{
  margin: 0px;
}

.container
{
  height: 100vh;
  width: 100%;

  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 22em auto 10em;
  grid-template-areas:
  "header"
  "main"
  "footer"
  ;
}

.header{
  background-color: rgb(255, 255, 255);
  grid-area: header;
  display: grid;
  justify-items: center;
}

.main{
  background-color: rgb(255, 255, 255);
  grid-area: main;
}

.footer{
  background-color: rgb(255, 255, 255);
  grid-area: footer;
}

.image{
  width: 100%;
  margin: 0px;
  display:grid;
  align-content: center;
  justify-content: center;
}

.logoHeader
{
  height: 15em;
  justify-self: center;
}

.search
{
position: absolute;
height: 2em;
width: 30em;
justify-self: center;
align-self: center;
display: flex;
margin-left: 55em;
margin-bottom: 5em ;
display: inline;
}

.searchBar
{
height: 2em;
width: 15em;
}

.searchBtn
{
  height: 2.5em;
  width: 3em;
  border: none;
  background-color: rgb(225, 225, 225);
  border-radius: 4px;border: 1px solid black;
}

.menu
{
justify-self: center;
}

.cart{
  margin-top: -10em;
  position: absolute;
  height: 4em;
  width: 7em;
  background-color: white;
  border: none;
}

.cartBtn{
  text-decoration: none;
  color: black;
  background-color: white;
  font-size: 60px;
  font-weight: 500;
  cursor: pointer;

}

.productFlexBox {
  display: flex;
  justify-content: center;
flex-flow: row-reverse wrap;
} 

.card {
  margin: 2em;
}

.navbar-brand {
  margin-right: 1em;
  margin-left: 1em;
  align-self: center;
}

